.navbar {
    background-color: #706233;
}

.jumbotron {
    padding: 2rem 1rem;
    background-color: #E1C78F;
    
}

#story {

    background-color: #FAE7C9
    ;
}

.list-group {
    background-color: #706233;
}


footer {
    background-color: #706233;
}
